@media all and (max-width:550px) {
    .Main-Contain .chat-contain{
        width: 400px;
        height: 500px;
    }
    .input-section{
        position: sticky;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .input-section input{
        width: 400px;
    }
    .mychat-section{
        height: 480px;
    }
    .chatgpt-data{
        letter-spacing: .1em;
    }
}
@media (min-width: 520px) and (max-width: 800px) {
    .Main-Contain .chat-contain{
        width: 500px;
    }
}