@media (min-width: 350px) and (max-width:500px) {
    main{
        background-color: #212121;
        height: 100vh;
    }
    .Main-Contain .chat-contain{
        width: 350px;
        bottom: 0;
    }
    .input-section{
        position: sticky;
        bottom: 10px;
        left: 0;
        right: 0;
    }
    .input-section .add-img{
        margin-left: 10px;
        padding: 0;
    }
    .input-section .enter-input{
        margin-right: 10px;
        padding: 0;
    }
    .input-section input{
        width: auto;
        object-fit: contain;
        background: transparent;
    }
    .mychat-section{
        height: 800px;
    }
    .chatgpt-data{
        letter-spacing: .1em;
    }
}
@media (min-width: 520px) and (max-width: 800px) {
    .Main-Contain .chat-contain{
        width: 500px;
    }
    .input-section .add-img{
        margin-left: 15px;
    }
    .input-section .enter-input{
        margin-right: 15px;
    }
}